<!-- Nav -->
<app-navv></app-navv>

<div class="container py-5" style="margin-top: 25px;">
  <div class="row">
    <div class="col-md-12">
      <!-- Botón de regreso -->
      <button class="btn btn-outline-secondary float-end mt-3" (click)="regresarHome()">Regresar</button>
    </div>

  <div class="row"  style="margin-top: 25px;">
    <div class="col-md-6">
      <h2 class="mb-4">¡Bienvenido a la Inscripción!</h2>
      <p class="lead mb-4">Comienza tu experiencia con nosotros y elige cómo deseas contribuir y aprender.</p>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/images/welcome.png" alt="Bienvenido a Querer ser parte de la Empresa" class="img-fluid rounded shadow">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <img src="assets/images/service.png" alt="" class="img-fluid mb-4">
          <h3 class="card-title">Servicio Social</h3>
          <p class="card-text">Contribuye a la empresa mientras adquieres experiencia valiosa y desarrollas habilidades clave.</p>
          <button class="btn btn-primary btn-lg mt-3" (click)="crear()">Inscribirse</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <img src="assets/images/internship.png" alt="" class="img-fluid mb-4">
          <h3 class="card-title">Prácticas Profesionales</h3>
          <p class="card-text">Obtén experiencia laboral relevante en tu campo de estudio y establece conexiones profesionales.</p>
          <button class="btn btn-primary btn-lg mt-3" (click)="crear()">Inscribirse</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <img src="assets/images/training.png" alt="" class="img-fluid mb-4">
          <h3 class="card-title">Capacitación</h3>
          <p class="card-text">Accede a oportunidades de aprendizaje práctico y desarrolla tus habilidades a través de programas de capacitación especializados en Infotec.</p>
          <button class="btn btn-primary btn-lg mt-3" (click)="crear()">Inscribirse</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-5">
      <div class="card bg-light">
        <div class="card-body text-center">
          <h3 class="card-title">¿Necesitas ayuda?</h3>
          <p class="lead mb-4">Nuestro equipo de soporte está aquí para ayudarte en cada paso del camino. Si tienes alguna pregunta o inquietud, no dudes en contactarnos.</p>
          <button class="btn btn-secondary btn-lg" (click)="ayuda()">Obtener Ayuda</button>
        </div>
      </div>
    </div>
  </div>




